@media only screen and (max-width: 870px) {
    .global-isi {
        flex-direction: column;
        position: relative;
        height: auto;
    }
    .container-profile {
        flex: 1;
    }
    .card,
    .name-big,
    .medsos {
        display: none;
    }
    .container-kanan {
        width: 100%;
        overflow-y: hidden;
    }
    .global-my-profile {
        width: 100%;
        height: 500px;
    }
    .image-bg {
        position: fixed;
        height: 100vh;
    }
    .image-bg img {
        object-fit: cover;
        object-position: unset;
    }
    .image-bg .lens {
        height: 100vh;
    }
}
@media only screen and (max-width: 450px) {
    .teman-profile {
        flex-direction: column;
        height: auto;
    }
    .teman-profile .image {
        width: 100%;
        height: 400px;
    }
    .teman-profile .right-profile span {
        border-radius: 20px;
    }
}
